body {
    font-size: 30px;
    background-image: url(/images/ramen_noodle_salad_image2.jpeg);
    
}

.main-container {
    width: 800px;
    height: auto;
    background-color: rgb(226, 250, 250);
    margin: 20px;
    padding: 10px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
   color: rgb(230, 171, 171);
   font-weight: bold;
   
}